<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
        <meta name="description" content="CRM for fight-club">
        <title>ELEVATE</title>

        {% load static %}
    
        <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image">
        <!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff"> -->
        
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{% static 'css/sidebars.css' %}">
    </head>

    <body class="text-center">
        {% block content %}
        <div class="row justify-content-center">
            <div class="col-md-6 p-5">
                <div class="card-body">
            <main class="form-signin w-100 m-auto">
              <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="72" height="57">
              <h1 class="h3 mb-3 fw-normal">Восстановление пароля завершено</h1>
              <p>Ваш пароль был сохранен. Теперь вы можете войти.</p>
              <a href="/auth/login/">Войти</a>
            </main>
                </div> <!-- card body -->
            </div> <!-- col -->
        </div> <!-- row -->
        {% endblock %}
    </body>